body{
  background-color:#990027;
  font-family:tahoma;
  text-align:center;
  font-size :1rem;
}
form{
  background-color:#800311;
  border-radius:10px;
  max-width:500px;
  margin:50px auto;
  padding:30px 20px;
  box-shadow:2px 5px 10px rgba(0,0,0,0.5);

}
.fields{
  text-align: left;
  margin-bottom: 25px;
}
.fields label{
  display: block;
  margin-bottom: 10px;
}
.fields input,
.fields select,
.fields textarea {
   border: 1px solid #777;
   border-radius: 10px;
   font-family: inherit;
   padding: 10px;
   display: block;
   width: 95%;
}
.fields input[type="radio"],
.fields input[type="checkbox"] {
  display: inline-block;
  width: auto;
  
}
#dropdown{
   display: block;
   width: 100%;
   margin-bottom:20px;
}
button{
    background-color: #ffffff;
    border: 1px solid #777;
    border-radius: 20px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    padding:10px;
    margin-top: 30px;
    margin-bottom: -20px;
        }
